
hamro.bin
.vscode/c_cpp_properties.json
.vscode/tasks.json
*.exe
admin.h
admin.h
Try2.cpp
SqlConnect_.cpp
admin.h
Buildingzone.cpp
CAPTUREINPUTS.h.gch
DRAWPAGES.h.gch
graphicsfront.cpp
user.h
admin.h
graphicsfront.cpp
HANDLECLICKS.h.gch
libmysql.dll
main.cpp
main.exe
registration_and_login.h
